# Google Generative AI API Key
VITE_GOOGLE_GENAI_API_KEY=AIzaSyCSJX1n2K3SFPUiKX9j83XUq9-0oj5fl7E

# LLM Configuration
VITE_LLM_DEFAULT_LANGUAGE=vi
VITE_LLM_SUPPORTED_LANGUAGES=vi,en,ja,ko,zh
VITE_LLM_AUTO_DETECT=true

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCSJX1n2K3SFPUiKX9j83XUq9-0oj5fl7E
VITE_FIREBASE_AUTH_DOMAIN=vinclub-e1bb4.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://vinclub-e1bb4-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=vinclub-e1bb4
VITE_FIREBASE_STORAGE_BUCKET=vinclub-e1bb4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=341248024780
VITE_FIREBASE_APP_ID=1:341248024780:web:6c0d289d78b8d540766269
VITE_FIREBASE_MEASUREMENT_ID=G-JXF0GY8LH8
